.modal{
  position: fixed;
  left: 35%;
  top: 25%;
  right: 35%;
  bottom: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .modalBackground{
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageTi{
  align-items: center;
}
.modalContainer{
  width: 800px;
  height: 800px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .Title{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .Image{
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.topCloseButton{
  display: flex;
  justify-content: flex-end;
}

.modalContainer .Synopsis{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-align: center;
}
.modalContainer .Episodes{
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
  color: #6d76f7;
} */
.timesFade{
  display: flex;
  justify-content: flex-end;
}
