/* .modalBackground{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTi{
  align-items: center;
} */

.errorMsg{

color: white;
border-radius: 10px;
top: 50px;
right: 10px;
padding: 20px;
text-align: center;

}
.alert-error{
  background: lightcoral;
}
.errorMsg > p{
  margin: 0;
}

.imageUrl{
  direction: rtl;
  text-align: center;
  width: 150%;
  height: auto;


}
.section{
  display: flex;
}

.containerForImg{
  margin-left: 700px;
}
.title{

  text-align: center;
  margin-right: 120px;

}
.miniSignUp{
  width: 20%;
  height: auto;
}

.modalContainer .body{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
}
.modalContainer .Episodes{
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
  color: #6d76f7;
}
.image-Dialog{
  height: 500px;
  width: 400px;
  margin-left: 18%;
}
.rightBtn{
  margin-right: 30px;
}
