/* .modalBackground{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTi{
  align-items: center;
} */

.imageUrl{
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: stretch;
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    height: 700px;
    width: 800px;
    flex-basis: auto;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
}
.section{
  display: flex;
}
.title{
  white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
}
.modalContainer .body{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
}
.modalContainer .Episodes{
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
  color: #6d76f7;
}
